.checkbox
    label
        input#arrows(type='checkbox')
        |  Use WASD arrows?
.checkbox
    label
        input#row1(type='checkbox',checked=true)
        |  Show number row?
.checkbox
    label
        input#showInput(type='checkbox')
        |  Show words above keyboard?
