<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     
    <title>Show Pressed Keys</title>
    <link href="/view/nodecg-show-pressed-keys/osk-full.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.2.2/octicons.css" rel="stylesheet"/>

</head>
<body>
 
<div id="container">
    <input id="showInput" class="form-control" rows="6" cols="60" />
    <ul id="keyboard">
        <li id="Escape" class="row1 symbol"><span class="normchars">Esc</span><span class="specialchars">~</span></li>
        <li id="1" class="row1 symbol"><span class="normchars">1</span><span class="specialchars">!</span></li>
        <li id="2" class="row1 symbol"><span class="normchars">2</span><span class="specialchars">@</span></li>
        <li id="3" class="row1 symbol"><span class="normchars">3</span><span class="specialchars">#</span></li>
        <li id="4" class="row1 symbol"><span class="normchars">4</span><span class="specialchars">$</span></li>
        <li id="5" class="row1 symbol"><span class="normchars">5</span><span class="specialchars">%</span></li>
        <li id="6" class="row1 symbol"><span class="normchars">6</span><span class="specialchars">^</span></li>
        <li id="7" class="row1 symbol"><span class="normchars">7</span><span class="specialchars">&amp;</span></li>
        <li id="8" class="row1 symbol"><span class="normchars">8</span><span class="specialchars">*</span></li>
        <li id="9" class="row1 symbol"><span class="normchars">9</span><span class="specialchars">(</span></li>
        <li id="0" class="row1 symbol"><span class="normchars">0</span><span class="specialchars">)</span></li>
        <li id="OemMinus" class="row1 symbol"><span class="normchars">-</span><span class="specialchars">_</span></li>
        <li id="Oemplus" class="row1 symbol"><span class="normchars">=</span><span class="specialchars">+</span></li>
        <li id="Back" class="row1 delete lastitem"><i class="fa fa-long-arrow-left fa-lg"></i></li>
        <li id="Tab" class="tab"><span class="octicon octicon-move-right"></span></li>
        <li id="Q" class="letter">Q</li>
        <li id="W" class="letter">W</li>
        <li id="E" class="letter">E</li>
        <li id="R" class="letter">R</li>
        <li id="T" class="letter">T</li>
        <li id="Y" class="letter">Y</li>
        <li id="U" class="letter">U</li>
        <li id="I" class="letter">I</li>
        <li id="O" class="letter">O</li>
        <li id="P" class="letter">P</li>
        <li id="OemOpenBrackets" class="symbol"><span class="normchars">[</span><span class="specialchars">{</span></li>
        <li id="Oem6" class="symbol"><span class="normchars">]</span><span class="specialchars">}</span></li>
        <li id="Oem5" class="symbol lastitem"><span class="normchars">\</span><span class="specialchars">|</span></li>
        <li id="Capital" class="capslock"><i class="fa fa-caret-square-o-up"></i></li>
        <li id="A" class="letter">A</li>
        <li id="S" class="letter">S</li>
        <li id="D" class="letter">D</li>
        <li id="F" class="letter">F</li>
        <li id="G" class="letter">G</li>
        <li id="H" class="letter">H</li>
        <li id="J" class="letter">J</li>
        <li id="K" class="letter">K</li>
        <li id="L" class="letter">L</li>
        <li id="Oem1" class="symbol"><span class="normchars">;</span><span class="specialchars">:</span></li>
        <li id="Oem7" class="symbol"><span class="normchars">'</span><span class="specialchars">&quot;</span></li>
        <li id="Enter" class="return lastitem"><i class="fa fa-level-down fa-rotate-90 fa-lg"></i></li>
        <li id="LShiftKey" class="left-shift"><i class="fa fa-chevron-up"></i></li>
        <li id="Z" class="letter">Z</li>
        <li id="X" class="letter">X</li>
        <li id="C" class="letter">C</li>
        <li id="V" class="letter">V</li>
        <li id="B" class="letter">B</li>
        <li id="N" class="letter">N</li>
        <li id="M" class="letter">M</li>
        <li id="Oemcomma" class="symbol"><span class="normchars">,</span><span class="specialchars">&lt;</span></li>
        <li id="OemPeriod" class="symbol"><span class="normchars">.</span><span class="specialchars">&gt;</span></li>
        <li id="OemQuestion" class="symbol"><span class="normchars">/</span><span class="specialchars">?</span></li>
        <li id="RShiftKey" class="right-shift lastitem"><i class="fa fa-chevron-up"></i></li>
        <li id="LControlKey" class="ctrl">Ctrl</li>
        <li id="LMenu" class="alt">Alt</li>
        <li id="Space" class="space">&nbsp;</li>
        <li id="RMenu" class="alt">Alt</li>
        <li id="RControlKey" class="rctrl lastitem">Ctrl</li>
    </ul>
</div>
 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script src="/view/nodecg-show-pressed-keys/jquery.min.js"></script>
<script src='/view/nodecg-show-pressed-keys/jquery.transit.min.js'/></script>
<script src="/view/nodecg-show-pressed-keys/keys.js"></script>
</body>
</html>